***
# <font color=green size=10>Relatório de Análise</font>
***
## Estudo do metro quadrado no Brasil

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Dataset/custo_do_m2.csv')
# fonte : https://www.ibge.gov.br/estatisticas/economicas/precos-e-custos/9270-sistema-nacional-de-pesquisa-de-custos-e-indices-da-construcao-civil.html?=&t=resultados

In [4]:
df.head(5)

,Unidade Geográfica,Custo médio m² - moeda corrente-Reais,Custo médio m² - número-índice-Número-índice,Custo médio m² - variação percentual em doze meses-%,Custo médio m² - variação percentual no ano-%,Custo médio m² - variação percentual no mês-%
0,Acre,1570.60,833.61,15.29,12.32,1.67
1,Alagoas,1341.20,670.05,20.03,16.06,1.35
2,Amapá,1406.14,682.98,13.90,10.95,1.32
3,Amazonas,1428.45,699.31,16.63,12.54,0.74
4,Bahia,1465.66,775.73,24.33,17.24,0.58

In [5]:
#Realizando a troca do nome de algumas colunas para melhor compreensão

df.rename(columns={' Unidade Geográfica':'Estado',
                   'Custo médio m² - moeda corrente-Reais': 'Custo médio do m² em R$ ',
                   'Custo médio m² - variação percentual no mês-%':'Variação percentual mês de outubro',
                   'Custo médio m² - variação percentual no ano-%': 'Variação percentual no ano de 2021 até outubro'
                  }, inplace = True)

In [6]:
#Realizado o drop de algumas colunas para nao pertinente para essa visualização para facilitar a compreensão
df.drop(['Custo médio m² - número-índice-Número-índice', 'Custo médio m² - variação percentual em doze meses-%'],
       axis = 1,
       inplace = True
       )

In [7]:
#Alterando o indexo para estado
df.set_index('Estado', inplace = True)

In [8]:
#Removendo colunas que não são estados
df.drop(['Sul','Sudeste', 'Norte', 'Nordeste', 'Centro-Oeste', 'Brasil'], axis = 0, inplace = True)

In [9]:
df.head(10)

,Custo médio do m² em R$,Variação percentual no ano de 2021 até outubro,Variação percentual mês de outubro
Estado,,,
Acre,1570.60,12.32,1.67
Alagoas,1341.20,16.06,1.35
Amapá,1406.14,10.95,1.32
Amazonas,1428.45,12.54,0.74
Bahia,1465.66,17.24,0.58
Ceará,1379.18,16.63,0.56
Distrito Federal,1524.57,15.14,1.18
Espírito Santo,1366.19,16.39,0.61
Goiás,1456.61,13.87,1.49
Maranhão,1396.16,14.92,0.40