***
# <font color=green size=10>Relatório de Análise</font>
***
## Estudo do valor do metro quadrado no Brasil. separado por estado

Sabemos que o custo da moradia no Brasil tem sido elevado devido aos últimos acontecimentos, e, também, devido ao crescimento exponencial das cidades, reduzindo a quantidade de espaço díponivel e assim o valorizando-a.
 mudança mais perceptível está no custo dos imóveis para compra ou aluguel.
    No entanto, para quem deseja começar uma construção do zero, independente da finalidade, nao levando em conta o custo dos demais materiais, quanto em media custaria para se adquirir um terreno para começar sua construção ?

Os dados utilizados foram obtidos do site do IBGE, e são de outrubro de 2021

Iremos filtrar algumas informações obtidas desde conjunto de dados para facilitar a compreensão

In [7]:
import pandas as pd
import seaborn as sns

In [8]:
df = pd.read_csv('Dataset/custo_do_m2.csv')
# fonte : https://www.ibge.gov.br/estatisticas/economicas/precos-e-custos/9270-sistema-nacional-de-pesquisa-de-custos-e-indices-da-construcao-civil.html?=&t=resultados

In [9]:
df.head(5)

,Unidade Geográfica,Custo médio m² - moeda corrente-Reais,Custo médio m² - número-índice-Número-índice,Custo médio m² - variação percentual em doze meses-%,Custo médio m² - variação percentual no ano-%,Custo médio m² - variação percentual no mês-%
0,Acre,1570.60,833.61,15.29,12.32,1.67
1,Alagoas,1341.20,670.05,20.03,16.06,1.35
2,Amapá,1406.14,682.98,13.90,10.95,1.32
3,Amazonas,1428.45,699.31,16.63,12.54,0.74
4,Bahia,1465.66,775.73,24.33,17.24,0.58

In [10]:
#Realizando a troca do nome de algumas colunas para melhor compreensão

df.rename(columns={' Unidade Geográfica':'Estado',
                   'Custo médio m² - moeda corrente-Reais': 'Custo médio do m² em R$',
                   'Custo médio m² - variação percentual no mês-%':'Variação percentual mês de outubro',
                   'Custo médio m² - variação percentual no ano-%': 'Variação percentual no ano de 2021 até outubro'
                  }, inplace = True)

In [11]:
#Realizado o drop de algumas colunas para nao pertinente para essa visualização para facilitar a compreensão
df.drop(['Custo médio m² - número-índice-Número-índice', 'Custo médio m² - variação percentual em doze meses-%'],
       axis = 1,
       inplace = True
       )

In [12]:
#Alterando o indexo para estado
df.set_index('Estado', inplace = True)

In [13]:
#Removendo colunas que não são estados
df.drop(['Sul','Sudeste', 'Norte', 'Nordeste', 'Centro-Oeste', 'Brasil'], axis = 0, inplace = True)

In [14]:
df.head(10)

,Custo médio do m² em R$,Variação percentual no ano de 2021 até outubro,Variação percentual mês de outubro
Estado,,,
Acre,1570.60,12.32,1.67
Alagoas,1341.20,16.06,1.35
Amapá,1406.14,10.95,1.32
Amazonas,1428.45,12.54,0.74
Bahia,1465.66,17.24,0.58
Ceará,1379.18,16.63,0.56
Distrito Federal,1524.57,15.14,1.18
Espírito Santo,1366.19,16.39,0.61
Goiás,1456.61,13.87,1.49
Maranhão,1396.16,14.92,0.40

In [15]:
#Classificando algumas medidas de têndencia central

valormax = df['Custo médio do m² em R$'].max()
valormin = df['Custo médio do m² em R$'].min()
media = round(df['Custo médio do m² em R$'].mean(), 2)
diferencaMaxMin = round(((valormax - valormin)/valormin)*100, 2)
mediana = df['Custo médio do m² em R$'].median() #Valor central dessa população
desvioPadrao = round(df['Custo médio do m² em R$'].std(), 2)



dataset = {'Valor Máximo por m² no Brasil':valormax,
           'Valor Mínimo por Metro m² no Brasil':valormin,
           'Diferença em % entre do valor mínimo ao máximo': diferencaMaxMin,
           'Media abosuluta dos valores':media,
           'Mediana':mediana,
           'Desvio Padrao':desvioPadrao
          }


pd.Series(dataset)

Valor Máximo por m² no Brasil                     1695.78
Valor Mínimo por Metro m² no Brasil               1303.56
Diferença em % entre do valor mínimo ao máximo      30.09
Media abosuluta dos valores                       1458.16
Mediana                                           1460.63
Desvio Padrao                                       95.74
dtype: float64

In [16]:
from IPython.core.display import display, HTML

In [17]:
media = df['Custo médio do m² em R$'].mean()
df['Desvio'] = df['Custo médio do m² em R$'] - media
df

,Custo médio do m² em R$,Variação percentual no ano de 2021 até outubro,Variação percentual mês de outubro,Desvio
Estado,,,,
Acre,1570.60,12.32,1.67,112.435556
Alagoas,1341.20,16.06,1.35,-116.964444
Amapá,1406.14,10.95,1.32,-52.024444
Amazonas,1428.45,12.54,0.74,-29.714444
Bahia,1465.66,17.24,0.58,7.495556
Ceará,1379.18,16.63,0.56,-78.984444
Distrito Federal,1524.57,15.14,1.18,66.405556
Espírito Santo,1366.19,16.39,0.61,-91.974444
Goiás,1456.61,13.87,1.49,-1.554444
Maranhão,1396.16,14.92,0.40,-62.004444
Mato Grosso,1448.77,18.09,0.91,-9.394444
Mato Grosso do Sul,1463.21,22.15,1.32,5.045556
Minas Gerais,1460.63,19.87,0.89,2.465556
Paraná,1551.50,19.22,0.54,93.335556
Paraíba,1415.94,15.13,0.94,-42.224444
Pará,1493.84,17.40,4.61,35.675556
Pernambuco,1357.88,16.71,0.67,-100.284444
Piauí,1353.94,11.75,0.94,-104.224444
Rio Grande do Norte,1303.56,15.39,1.08,-154.604444
Rio Grande do Sul,1488.98,15.28,0.14,30.815556
Rio de Janeiro,1643.26,17.15,1.19,185.095556
Rondônia,1480.16,11.14,0.88,21.995556
Roraima,1494.43,11.52,1.52,36.265556
Santa Catarina,1695.78,17.80,0.58,237.615556
Sergipe,1320.86,17.88,0.69,-137.304444
São Paulo,1584.37,16.54,1.13,126.205556
Tocantins,1478.57,13.11,0.84,20.405556

In [40]:
df.rename(index = 'Estado')

TypeError: Index(...) must be called with a collection of some kind, 'Estado' was passed

In [37]:
#ax = sns.boxplot( x = 'Custo médio do m² em R$', y = 'Variação percentual no ano de 2021 até outubro', data = df, orient = 'h')
#ax.figure.set_size_inches(20, 8)
#ax.set_title('Anos de Estudo', fontsize=18)
#ax.set_xlabel('Custo médio do m² em R$', fontsize=14)
#ax

ax = sns.barplot(x = , y = 'Custo médio do m² em R$', data = df)
ax.figure.set_size_inches(16,8)

ValueError: Could not interpret input 'index'

# Visão sobre o custo do m² no estado de São Paulo

O custo médio do m² no brasil é de R$ 1.458,16

O custo médio, considerando somente o estado de são paulo é de R$ 1.584,37, esse valor é 8,6% maior do que a média nacional

Porém, é 7,03% mais barata do que a média do m² no estado de SC que é a mais cara, estando em R$ 1.695,78

Segundo algumas informações obtidas de obtidas da gestão urbana de São paulo, através do site: <br>
https://gestaourbana.prefeitura.sp.gov.br/frente-e-area-minima-do-lote/ <br>
A área mínima de um Lote em SP é de 125m²

Considerando que em média o m² em SP é de R\$ 1.584,37

Temos que, em média, o mínimo para adquirir um terreno em SP é de R$ 198.046,25